/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	background: url("../wild-sea.pgn");
	background-repeat: repeat;
}

header {
	text-align: center;
	font-weight: bold;
	margin: 2em auto 1em auto;
}

h2 {
	text-align: center;
	margin: 1em auto;
}

#formContainer {
	max-width: 20em;
	margin-left: auto;
	margin-right: auto;
}

fieldset {
	border: 0.05em solid black;
}

fieldset legend {
	margin-left: 2em;
}

.fields {
	display: block;
	box-sizing: border-box;
}

.labels {
	margin-left: 2.7em;
}

#first {
	margin-top: 1em;
}

.labels input{
	display: block;
	box-sizing: border-box;
	margin: 0.5em 0 1.5em 3em;
}

#submit{
	margin: 0.2em auto 1em auto;
	text-align: center;
	display: block;
}

.hide {
	visibility: hidden;
	position: absolute;
}

.partyBlock {
  width: 100%;
  position: fixed;
  top: 7em;
}

@-webkit-keyframes rotate {
	from{
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from{
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to{
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
  }
}

.party {
	display: block;
	margin-left: auto;
	margin-right:auto;
	-webkit-animation: rotate 0.2 linear infinite;
	-moz-animation: rotate 0.2s linear infinite;
	-ms-animation: rotate 0.2s linear infinite;
	-o-animation: rotate 0.2s linear infinite;
	animation: rotate 0.2s linear infinite;
}

@media screen and (max-width: 320px) {
	#formContainer {
		width: 100%;
	}
} 

@media screen and (min-width:321px) and (max-width:640px) {
	#formContainer {
		width: 90%;
	}
} 